# Carga de datos desde un csv con la funcion read

In [37]:
%config IPCompleter.greedy=True

In [38]:
import pandas as pd
import os

In [39]:
main_path="c:/Users/jpolvorinosbarrio/Cursos/python-ml-course/datasets"
filename="titanic/titanic3.csv"
#fullpath=main_path+"/"+filename
fullpath=os.path.join(main_path,filename)

In [40]:
data = pd.read_csv(fullpath)

In [41]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Ejemplos de los parámetros de la función read_csv
read.csv(filepath="c:/Users/jpolvorinosbarrio/Cursos/python-ml-course/datasets/titanic/titanic3.csv",
sep = ",",
dtype=None,
header=None,
names={"ingresos","edad"},
skiprows=12,
index_col=None,
skip_blank_lines=True,
na_filter=True
)

In [42]:
#podemos usar read_csv para abrir txt
data2 = pd.read_csv(main_path+"/"+"customer-churn-model/Customer Churn Model.txt")

In [43]:
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [44]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [45]:
#Casos en el que te dan el nombre de las columnas por un lado (Cabeceras) y los datos por otro
data_cols= pd.read_csv(main_path+"/"+"customer-churn-model/Customer Churn Columns.csv")
#Recogemos los nombres de las cabeceras
data_cols
#Convertimos los nombres de las columna en una lista
data_col_list=data_cols["Columna_1_Con_Nombres"].tolist()
data_col_list
#Abrimos el fichero indicandole que no queremos que nos lea cabecera header=None y le metemos nosotros los nombres de la cabecera en names=data_col_list
data2 =  pd.read_csv(main_path+"/"+"customer-churn-model/Customer Churn Model.csv", header=None, names=data_col_list)
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

### Carga de datos a traves de función Open

#### Como la función read de pandas carga todo el fichero en el dataset, si este es muy grande puede colapsar la memoria ram del sistema. Como alternativa se propone utilizar la función open genérica de python.

In [63]:
# Hay que tener cuidado al abrir un fichero en modo "w" (escritura)
# ya que esto hará que dicho fichero pierda su contenido (en caso de tenerlo y querer conservarlo). 
# Si por algún motivo se quiere agregar contenido a este es recomendable abrirlo en modo "a" (append),
# lo cual posicionará el cursor al final y no borrará el contenido del mismo.

data3 = open(main_path + "/" + "customer-churn-model/Customer Churn Model.txt",'r')

In [64]:
# strip es equivalente al trim de java pero quitando blancos por delante y detras
cols = data3.readline().strip().split(",")
n_cols= len(cols)

In [65]:
#Recorremos la primera fila que son las columnas y generamos un diccionario vacio
n_lines = 0
main_dict = {}
for col in cols:
    main_dict[col]=[]

In [66]:
#Ahora recorremos el fichero y lo vamos metiendo la información en el diccionario de datos creado anteriormente
for line in data3:
    values = line.strip().split(",")
    for i in range(n_cols):
        main_dict[cols[i]].append(values[i])
    n_lines += 1
print("El número de filas es {} y el número de columnas es {}".format(n_lines,n_cols))

El número de filas es 3333 y el número de columnas es 21

In [67]:
#Creamos un dataframe de la librería pandas a traves del diccionario main_dict que hemos creado recorriendo el fichero.
df3 = pd.DataFrame(main_dict)
#El resultado como se puede ver es el mismo de utilizando la función pd.read_csv
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

## Escritura y lectura de un fichero

In [72]:
infile = main_path + "/" + "customer-churn-model/Customer Churn Model.txt"
outfile = main_path + "/" + "customer-churn-model/Tab Customer Churn Model.txt"

In [73]:
with open(infile,"r") as infile1:
    with open(outfile,"w") as outfile1:
        for line1 in infile1:
            fields = line1.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [78]:
df4 = pd.read_csv(outfile,sep="\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Leer datos de una url

In [83]:
medals_url = "http://winterolympicsmedals.com/medals.csv"
df5 = pd.read_csv(medals_url)
df5.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [86]:
import csv
import urllib3

In [89]:
http = urllib3.PoolManager()
response = http.request('GET', medals_url)
print("El estado de la respuesta es %d" %(response.status))

El estado de la respuesta es 200

In [103]:
dt=response.data

In [127]:
array_lines=dt.decode("UTF-8").upper().strip().split("\n")

In [129]:
array_lines[3]

'1924,CHAMONIX,SKATING,FIGURE SKATING,AUT,PAIRS,X,GOLD'

In [185]:
def downloadFromURL(url, filename, sep = ",", delim = "\n", encoding="utf-8", 
                   mainpath = "c:/Users/jpolvorinosbarrio/Cursos/python-ml-course/datasets"):
    #primero importamos la librería y hacemos la conexión con la web de los datos
    import urllib3
    http = urllib3.PoolManager()
    r = http.request('GET', url)
    print("El estado de la respuesta es %d" %(r.status))
    response = r.data ## CORREGIDO: eliminado un doble decode que daba error
    
    #El objeto reponse contiene un string binario, así que lo convertimos a un string descodificándolo en UTF-8
    str_data = response.decode(encoding)

    #Dividimos el string en un array de filas, separándolo por intros
    lines = str_data.split(delim)

    #La primera línea contiene la cabecera, así que la extraemos
    col_names = lines[0].split(sep)
    n_cols = len(col_names)

    #Generamos un diccionario vacío donde irá la información procesada desde la URL externa
    counter = 0
    main_dict = {}
    for col in col_names:
        main_dict[col] = []

    #Procesamos fila a fila la información para ir rellenando el diccionario con los datos como hicimos antes
    for line in lines:
        #Nos saltamos la primera línea que es la que contiene la cabecera y ya tenemos procesada
        if(counter > 0):
            #Dividimos cada string por las comas como elemento separador
            values = line.strip().split(sep)
            #Añadimos cada valor a su respectiva columna del diccionario
            for i in range(len(col_names)):
                main_dict[col_names[i]].append(values[i])
        counter += 1

    print("El data set tiene %d filas y %d columnas"%(counter, n_cols))

    #Convertimos el diccionario procesado a Data Frame y comprobamos que los datos son correctos
    df = pd.DataFrame(main_dict)
    print(df.head())

    #Elegimos donde guardarlo (en la carpeta athletes es donde tiene más sentido por el contexto del análisis)
    fullpath = os.path.join(mainpath, filename)

    #Lo guardamos en CSV, en JSON o en Excel según queramos
    df.to_csv(fullpath+".csv")
    df.to_json(fullpath+".json")
    df.to_excel(fullpath+".xls")
    print("Los ficheros se han guardado correctamente en: "+fullpath)
    
    return df

In [186]:
medals_df = downloadFromURL(medals_url, "athletes/downloaded_medals_mio")
medals_df.head()

El estado de la respuesta es 200
El data set tiene 2312 filas y 8 columnas
   Year      City       Sport      Discipline  NOC       Event Event gender  \
0  1924  Chamonix     Skating  Figure skating  AUT  individual            M
1  1924  Chamonix     Skating  Figure skating  AUT  individual            W
2  1924  Chamonix     Skating  Figure skating  AUT       pairs            X
3  1924  Chamonix   Bobsleigh       Bobsleigh  BEL    four-man            M
4  1924  Chamonix  Ice Hockey      Ice Hockey  CAN  ice hockey            M

    Medal
0  Silver
1    Gold
2    Gold
3  Bronze
4    Gold
Los ficheros se han guardado correctamente en: c:/Users/jpolvorinosbarrio/Cursos/python-ml-course/datasets\athletes/downloaded_medals_mio

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [286]:
import re
nz_url="https://www.stats.govt.nz/assets/Uploads/Business-price-indexes/Business-price-indexes-March-2020-quarter/Download-data/business-price-indexes-march-2020-quarter-corrections-to-previously-published-statistics.csv"
response2 = http.request('GET', nz_url)
print("El estado de la respuesta es %d" %(response.status))
dt2=response2.data
array_lines=dt2.decode("UTF-8").upper().strip().split("\r\n")
cab=array_lines[0].split(",")
#line_data=array_lines[1].split("{},{}".format(%c,%c))
print(array_lines[1])
line_data=re.split(',[^\s]',array_lines[1])
line_data

El estado de la respuesta es 200
2019.09,PPIQ.SQN800000,"ALL INDUSTRIES EXCL ADMIN HEALTH EDUCATI, INPUTS INDEXES (LEVEL 0)",1167,1164

['2019.09',
 'PIQ.SQN800000',
 'ALL INDUSTRIES EXCL ADMIN HEALTH EDUCATI, INPUTS INDEXES (LEVEL 0)"',
 '167',
 '164']

In [289]:
def downloadFromURL_NZ(url, filename, sep = ",", delim = "\r\n", encoding="utf-8", 
                   mainpath = "c:/Users/jpolvorinosbarrio/Cursos/python-ml-course/datasets"):
    #primero importamos la librería y hacemos la conexión con la web de los datos
    import urllib3
    http = urllib3.PoolManager()
    r = http.request('GET', url)
    print("El estado de la respuesta es %d" %(r.status))
    response = r.data ## CORREGIDO: eliminado un doble decode que daba error
    
    #El objeto reponse contiene un string binario, así que lo convertimos a un string descodificándolo en UTF-8
    str_data = response.decode(encoding)

    #Dividimos el string en un array de filas, separándolo por intros
    lines = str_data.split(delim)

    #La primera línea contiene la cabecera, así que la extraemos
    col_names = lines[0].split(sep)
    n_cols = len(col_names)
   # print ("DELIM",delim)
   # print ("COL_NAMES ",col_names)
   # print ("n_cols ",n_cols)
    
    #Generamos un diccionario vacío donde irá la información procesada desde la URL externa
    counter = 0
    main_dict = {}
    for col in col_names:
        main_dict[col] = []
        #print ("col",col)
   
    #Procesamos fila a fila la información para ir rellenando el diccionario con los datos como hicimos antes
    for line in lines:
        #Nos saltamos la primera línea que es la que contiene la cabecera y ya tenemos procesada
        if(counter > 0):
            #Dividimos cada string por las comas como elemento separador
            values = line.strip().split(",")
            
            if values !=['']:
                #Añadimos cada valor a su respectiva columna del diccionario
                for i in range(len(col_names)):
                    #print("values[i]",values[i])
                    print("i",i)
                    main_dict[col_names[i]].append(values[i])
           # break;        
        counter += 1
        

    print("El data set tiene %d filas y %d columnas"%(counter, n_cols))

    #Convertimos el diccionario procesado a Data Frame y comprobamos que los datos son correctos
    df = pd.DataFrame(main_dict)
    print(df.head())

    #Elegimos donde guardarlo (en la carpeta athletes es donde tiene más sentido por el contexto del análisis)
    fullpath = os.path.join(mainpath, filename)

    #Lo guardamos en CSV, en JSON o en Excel según queramos
    df.to_csv(fullpath+".csv")
    df.to_json(fullpath+".json")
    df.to_excel(fullpath+".xls")
    print("Los ficheros se han guardado correctamente en: "+fullpath)
    
    return df

In [293]:
#medals_df = downloadFromURL_NZ(nz_url, "nz_data/nz_data_1_mio")
#medals_df.head()
nz_df = downloadFromURL(nz_url, "nz_data/nz_data_1_mio")
nz_df.head()

El estado de la respuesta es 200
values[i] 2019.09
i 0
values[i] PPIQ.SQN800000
i 1
values[i] "All industries excl admin health educati
i 2
values[i]  Inputs Indexes (Level 0)"
i 3
values[i] 1167
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQN800000
i 1
values[i] "All industries excl admin health educati
i 2
values[i]  Inputs Indexes (Level 0)"
i 3
values[i] 1170
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQN800001
i 1
values[i] "All industries ex admin health edu OOD
i 2
values[i]  Inputs Indexes (Level 0)"
i 3
values[i] 1167
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQN800001
i 1
values[i] "All industries ex admin health edu OOD
i 2
values[i]  Inputs Indexes (Level 0)"
i 3
values[i] 1170
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQN900000
i 1
values[i] "All industries
i 2
values[i]  Inputs Indexes (Level 0)"
i 3
values[i] 1166
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQN900000
i 1
values[i] "All industries
i 2
values[i]  Inputs Indexes (Level 0)"
i 3
values[i] 1169
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQN900001
i 1
values[i] "All industries excl OOD
i 2
values[i]  Inputs Indexes (Level 0)"
i 3
values[i] 1166
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQN900001
i 1
values[i] "All industries excl OOD
i 2
values[i]  Inputs Indexes (Level 0)"
i 3
values[i] 1169
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNAA0000
i 1
values[i] "Agriculture
i 2
values[i]  Forestry and Fishing
i 3
values[i]  Inputs Indexes (Level 1)"
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNAA2000
i 1
values[i] "Forestry and Logging
i 2
values[i]  Inputs Indexes (Level 2)"
i 3
values[i] 1217
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNAA2100
i 1
values[i] "Forestry and Logging
i 2
values[i]  Inputs Indexes (Level 3)"
i 3
values[i] 1217
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNAA211X
i 1
values[i] "Forestry and Logging
i 2
values[i]  Inputs Indexes (Level 4)"
i 3
values[i] 1217
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQNCC0000
i 1
values[i] "Manufacturing
i 2
values[i]  Inputs Indexes (Level 1)"
i 3
values[i] 1154
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNCC0000
i 1
values[i] "Manufacturing
i 2
values[i]  Inputs Indexes (Level 1)"
i 3
values[i] 1162
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQNCC1000
i 1
values[i] "Food
i 2
values[i]  Beverage and Tobacco Product Manuf
i 3
values[i]  Inputs Indexes (Level 2)"
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNCC1000
i 1
values[i] "Food
i 2
values[i]  Beverage and Tobacco Product Manuf
i 3
values[i]  Inputs Indexes (Level 2)"
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQNCC1300
i 1
values[i] "Dairy Product Manufacturing
i 2
values[i]  Inputs Indexes (Level 3)"
i 3
values[i] 1131
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNCC1300
i 1
values[i] "Dairy Product Manufacturing
i 2
values[i]  Inputs Indexes (Level 3)"
i 3
values[i] 1162
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQNCC131X
i 1
values[i] "Dairy Product Manufacturing
i 2
values[i]  Inputs Indexes (Level 4)"
i 3
values[i] 1131
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNCC131X
i 1
values[i] "Dairy Product Manufacturing
i 2
values[i]  Inputs Indexes (Level 4)"
i 3
values[i] 1162
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNCC1400
i 1
values[i] "Fruit
i 2
values[i]  Oil
i 3
values[i]  Cereal and Other Food Produc
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNCC141X
i 1
values[i] "Fruit
i 2
values[i]  Oil
i 3
values[i]  Cereal and Other Food Product Manufact
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNCC3000
i 1
values[i] "Wood and Paper Products Manufacturing
i 2
values[i]  Inputs Indexes (Level 2)"
i 3
values[i] 1150
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNCC3100
i 1
values[i] "Wood Product Manufacturing
i 2
values[i]  Inputs Indexes (Level 3)"
i 3
values[i] 1179
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNCC311X
i 1
values[i] "Wood Product Manufacturing
i 2
values[i]  Inputs Indexes (Level 4)"
i 3
values[i] 1179
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNCC3200
i 1
values[i] "Pulp
i 2
values[i]  Paper and Converted Paper Product
i 3
values[i]  Inputs Indexes (Level 3)"
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQNCC321X
i 1
values[i] "Pulp
i 2
values[i]  Paper and Converted Paper Product Manufactur
i 3
values[i]  Inputs Indexes (Level 4)"
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQU900000
i 1
values[i] "All industries
i 2
values[i]  Outputs Indexes (Level 0)"
i 3
values[i] 1179
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQU900000
i 1
values[i] "All industries
i 2
values[i]  Outputs Indexes (Level 0)"
i 3
values[i] 1185
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQU900001
i 1
values[i] "All industries excl OOD
i 2
values[i]  Outputs Indexes (Level 0)"
i 3
values[i] 1178
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQU900001
i 1
values[i] "All industries excl OOD
i 2
values[i]  Outputs Indexes (Level 0)"
i 3
values[i] 1184
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUAA0000
i 1
values[i] "Agriculture
i 2
values[i]  Forestry and Fishing
i 3
values[i]  Outputs Indexes (Level 1)"
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA0000
i 1
values[i] "Agriculture
i 2
values[i]  Forestry and Fishing
i 3
values[i]  Outputs Indexes (Level 1)"
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUAA1000
i 1
values[i] "Agriculture
i 2
values[i]  Outputs Indexes (Level 2)"
i 3
values[i] 1298
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA1000
i 1
values[i] "Agriculture
i 2
values[i]  Outputs Indexes (Level 2)"
i 3
values[i] 1336
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUAA1100
i 1
values[i] "Horticulture and Fruit Growing
i 2
values[i]  Outputs Indexes (Level 3)"
i 3
values[i] 1251
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA1100
i 1
values[i] "Horticulture and Fruit Growing
i 2
values[i]  Outputs Indexes (Level 3)"
i 3
values[i] 1237
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUAA1110
i 1
values[i] "Horticulture and Fruit Growing
i 2
values[i]  Outputs Indexes (Level 4)"
i 3
values[i] 1251
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA1110
i 1
values[i] "Horticulture and Fruit Growing
i 2
values[i]  Outputs Indexes (Level 4)"
i 3
values[i] 1237
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUAA1200
i 1
values[i] "Sheep
i 2
values[i]  Beef Cattle and Grain Farming
i 3
values[i]  Outputs Indexes (Level 3)"
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA1200
i 1
values[i] "Sheep
i 2
values[i]  Beef Cattle and Grain Farming
i 3
values[i]  Outputs Indexes (Level 3)"
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUAA1210
i 1
values[i] "Sheep
i 2
values[i]  Beef Cattle and Grain Farming
i 3
values[i]  Outputs Indexes (Level 4)"
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA1210
i 1
values[i] "Sheep
i 2
values[i]  Beef Cattle and Grain Farming
i 3
values[i]  Outputs Indexes (Level 4)"
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUAA1300
i 1
values[i] "Dairy Cattle Farming
i 2
values[i]  Outputs Indexes (Level 3)"
i 3
values[i] 1061
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA1300
i 1
values[i] "Dairy Cattle Farming
i 2
values[i]  Outputs Indexes (Level 3)"
i 3
values[i] 1101
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUAA1310
i 1
values[i] "Dairy Cattle Farming
i 2
values[i]  Outputs Indexes (Level 4)"
i 3
values[i] 1061
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA1310
i 1
values[i] "Dairy Cattle Farming
i 2
values[i]  Outputs Indexes (Level 4)"
i 3
values[i] 1101
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUAA1400
i 1
values[i] "Poultry
i 2
values[i]  Deer and Other Livestock Farmin
i 3
values[i]  Outputs Indexes (Level 3)"
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA1400
i 1
values[i] "Poultry
i 2
values[i]  Deer and Other Livestock Farmin
i 3
values[i]  Outputs Indexes (Level 3)"
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUAA1410
i 1
values[i] "Poultry
i 2
values[i]  Deer and Other Livestock Farming
i 3
values[i]  Outputs Indexes (Level 4)"
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA1410
i 1
values[i] "Poultry
i 2
values[i]  Deer and Other Livestock Farming
i 3
values[i]  Outputs Indexes (Level 4)"
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA2000
i 1
values[i] "Forestry and Logging
i 2
values[i]  Outputs Indexes (Level 2)"
i 3
values[i] 1218
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA2100
i 1
values[i] "Forestry and Logging
i 2
values[i]  Outputs Indexes (Level 3)"
i 3
values[i] 1218
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA2110
i 1
values[i] "Forestry and Logging
i 2
values[i]  Outputs Indexes (Level 4)"
i 3
values[i] 1218
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUAA3000
i 1
values[i] "Fishing
i 2
values[i]  Aquaculture and Agriculture
i 3
values[i]  Fo
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUAA3220
i 1
values[i] "Agriculture
i 2
values[i]  Forestry and Fishing Support Services
i 3
values[i]  Outputs Indexes (Level 4)"
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUC03210
i 1
values[i] "Logs for domestic market
i 2
values[i]  LPT PPI - NA06CC higher level commodity indexes"
i 3
values[i] 1459
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUC03220
i 1
values[i] "Logs for export market
i 2
values[i]  LPT PPI - NA06CC higher level commodity indexes"
i 3
values[i] 1429
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUCC0000
i 1
values[i] "Manufacturing
i 2
values[i]  Outputs Indexes (Level 1)"
i 3
values[i] 1166
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUCC1000
i 1
values[i] "Food
i 2
values[i]  Beverage and Tobacco Product Manuf
i 3
values[i]  Outputs Indexes (Level 2)"
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUCC1000
i 1
values[i] "Food
i 2
values[i]  Beverage and Tobacco Product Manuf
i 3
values[i]  Outputs Indexes (Level 2)"
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUCC1300
i 1
values[i] "Dairy Product Manufacturing
i 2
values[i]  Outputs Indexes (Level 3)"
i 3
values[i] 1243
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUCC1300
i 1
values[i] "Dairy Product Manufacturing
i 2
values[i]  Outputs Indexes (Level 3)"
i 3
values[i] 1220
i 4
values[i] 2019.09
i 0
values[i] PPIQ.SQUCC1310
i 1
values[i] "Dairy Product Manufacturing
i 2
values[i]  Outputs Indexes (Level 4)"
i 3
values[i] 1243
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUCC1310
i 1
values[i] "Dairy Product Manufacturing
i 2
values[i]  Outputs Indexes (Level 4)"
i 3
values[i] 1220
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUCC3200
i 1
values[i] "Pulp
i 2
values[i]  Paper and Converted Paper Product
i 3
values[i]  Outputs Indexes (Level 3)"
i 4
values[i] 2019.12
i 0
values[i] PPIQ.SQUCC3210
i 1
values[i] "Pulp
i 2
values[i]  Paper and Converted Paper Product Manufactur
i 3
values[i]  Outputs Indexes (Level 4)"
i 4
El data set tiene 69 filas y 5 columnas

  Series reference          Period                                Description  \
0          2019.09  PPIQ.SQN800000  "All industries excl admin health educati
1          2019.12  PPIQ.SQN800000  "All industries excl admin health educati
2          2019.09  PPIQ.SQN800001    "All industries ex admin health edu OOD
3          2019.12  PPIQ.SQN800001    "All industries ex admin health edu OOD
4          2019.09  PPIQ.SQN900000                            "All industries

                      Revised Initially published
0   Inputs Indexes (Level 0)"                1167
1   Inputs Indexes (Level 0)"                1170
2   Inputs Indexes (Level 0)"                1167
3   Inputs Indexes (Level 0)"                1170
4   Inputs Indexes (Level 0)"                1166
Los ficheros se han guardado correctamente en: c:/Users/jpolvorinosbarrio/Cursos/python-ml-course/datasets\nz_data/nz_data_1_mio

,Series reference,Period,Description,Revised,Initially published
0,2019.09,PPIQ.SQN800000,"""All industries excl admin health educati","Inputs Indexes (Level 0)""",1167
1,2019.12,PPIQ.SQN800000,"""All industries excl admin health educati","Inputs Indexes (Level 0)""",1170
2,2019.09,PPIQ.SQN800001,"""All industries ex admin health edu OOD","Inputs Indexes (Level 0)""",1167
3,2019.12,PPIQ.SQN800001,"""All industries ex admin health edu OOD","Inputs Indexes (Level 0)""",1170
4,2019.09,PPIQ.SQN900000,"""All industries","Inputs Indexes (Level 0)""",1166

## Ficheros XLS y XLSX

In [207]:
main_path = "c:/Users/jpolvorinosbarrio/Cursos/python-ml-course/datasets"
filename = "titanic/titanic3.xls"

In [209]:
# el segundo argumento es el nombre de la pestaña que se quiere cargar
titanic_2 = pd.read_excel(main_path+"/"+filename,"titanic3")

In [212]:
titanic_2.to_csv(main_path + "/titanic/titanic_custom_mio.csv")

In [213]:
titanic_2.to_excel(main_path + "/titanic/titanic_custom_mio.xls")

In [214]:
titanic_2.to_json(main_path + "/titanic/titanic_custom_mio.json")